@charset "UTF-8";

@import url('./common.css');


/* main */
main{
    margin: 100px auto 0;
    width: 1600px;
    background: url('../image/bg/homepage_bg.png')no-repeat;
    /* 임시 */
    height: auto;
}
/* ===================================
=========cushion==========================
=================================== */
.cushion-200{margin-top: 200px;}
.cushion-100{margin-top: 100px;}
.cushion-60{margin-top: 60px;}
.cushion-70{margin-top: 70px;}



/* ===main==========================
===================================
=================================== */
.main-box{}
.review-vanner{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 50px 80px;
    width: 100%;
    background: url('../image/vanner/review/review_vanner_01.jpg')0% 0% / 100% no-repeat;
}
.vanner-head{
    position: relative;
    width: 60%;
}
.vanner-head>h2::after{
    position: absolute;
    top: -2%; left: -3%;
    content: '';
    display: inline-block;
    width: 242px; height: 69px;
    background: url('../image/vanner/review/review_vector.svg')no-repeat;   
    opacity: 0.5;
}
.vanner-head>h2{
    color: #4b0000;
    font-family: 'S-CoreDream-6Bold';
    font-size:2.57rem;
}

.vanner-head>p::before{
    content: '';
    display: block;
    width: 40px;
    border-top: 1px solid #760606;
    margin: 8px 0;
}
.vanner-head>p{
    margin-top: 60px;
    display: block;
    color: #760606;
    font-family: 'S-CoreDream-3Light';
    font-size: 1.4rem;
    white-space: pre-line;
}

.review-vanner>a{
    width: 60px; height: 60px;
    background-color: #FFCC9D;
    border-radius: 100px;
    color: #760606;
    font-family: 'S-CoreDream-6Bold';
    font-size: 1.45rem;
    padding: 13px 5px 10px;
    transform: translateY(10px);
}

.review-vanner>p::before{
    content: '';
    display: inline-block;
    height: 110px;
    border-left: 2px solid #760606;
    margin-bottom: 20px;
}
.review-vanner>p{
    display: inline-block;
    color: #760606;
    font-family: 'S-CoreDream-3Light';
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
/* ===================================
============md-box=======================
=================================== */
.md-box{
    width: 1280px;
    margin: 0 auto;
}
.review-headline{
    text-align: center;
}
.review-headline>p{
    display: inline-block;
    width: 35px; height: 35px;
    background: url('../image/icon/pink_crown.png')no-repeat;
}
.review-headline>h3::before{
    content: '';
    display: block;
    width: 400px;
    border-top: 1px solid #FF5151;
    margin: 0;
    transform: translate(-500px, 20px); 
}

.review-headline>h3{
    margin: 0 auto;
    color: #fff;
    font-family: 'S-CoreDream-5Medium';
    font-size: 1.75rem;
    text-align: center;
    width: 320px; padding: 5px 20px;
    border-radius: 100px;
    background-color: #FF5151;
}

.review-headline>h3::after{
    content: '';
    display: block;
    width: 400px;
    border-top: 1px solid #FF5151;
    transform: translate( 380px, -20px); 
}

/* review-box */
.md-box>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.md-box>ul>li{
    position: relative;
    width: 30%;
    margin-bottom: 80px;}

/*rank*/
body{counter-reset: count;}

.md-box>ul>li>p::before{
    display: inline-block;
    text-align: center;
    counter-increment: count;
    content: ""counter( count, decimal-leading-zero)"";
    position: absolute;
    top: 5%;
    right: 10%;
    width: 70px;
    height: 70px;
    background-color: #FF3B3B;
    border-radius: 0 100px 100px 100px;
    font-family: 'S-CoreDream-8Heavy';
    color: #fff;
    font-size: 2.8rem;
    z-index: 1;
}

.md-box>ul>li:nth-of-type(n+4):nth-of-type(-n+15)>p::before{
    display: inline-block;
    text-align: center;
    counter-increment: count;
    content: ""counter( count, decimal-leading-zero)"";
    top: 5%;
    right: 10%;
    width: 70px;
    height: 70px;
    background-color: #654BFF;
    border-radius: 0 100px 100px 100px;
    font-family: 'S-CoreDream-8Heavy';
    color: #fff;
    font-size: 2.8rem;
}

.md-box>ul>li>p{
    border-radius: 20px;
    vertical-align: top;
    width: 365px; max-height: 365px;
    overflow: hidden;
}
.md-box>ul>li>p>img{width: 100%;}

.md-box>ul>li>div{
    margin-top: 10px;
}
.md-box>ul>li>div>h3{
    font-family: 'S-CoreDream-4Regular';
}
.md-box>ul>li>div>p{
    font-family: 'S-CoreDream-3Light';
    font-size: 0.9rem;
}



/* ===================================
===================================
=================================== */

/* ========================================================
================BTN========================================
======================================================== */ 
/* btn */
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn> button{
    font-family: 'S-CoreDream-3Light';
    font-size: 0.86rem;
    width: 30px; height: 30px;
    border: 1px solid #777;
    background-color: #fff;
    margin: 0 5px;
}

.btn button:nth-child(1){
    background-color: #000;
    color: #fff;
}

/* > & >> */
.btn button:nth-child(n+3):nth-child(-n+4){
    background-color: #EFEFEF;
}

/* bg */
.btn button:nth-child(3){
    display: inline-block;
    font-size: 0;
    background: url('../image/icon/arrow_gray.png')no-repeat;
    background-size: 25px;
}

.btn button:nth-child(4){
    display: inline-block;
    font-size: 0;
    background: url('../image/icon/Double_arrow_gray.png')center no-repeat;
    background-size: 35px;
}
